*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.conteainer{
  /*  background-color: lightslategray;*/
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(to bottom right, lightblue, lightgreen);
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, lightblue, lightgreen);

}
.title-tea{
    text-align: center;
    font-size: 15px;
    margin: 20px 60px 10px 60px;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
    background-image: linear-gradient(to bottom right, lightpink, lightblue);
}
.tea-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}
.tea-container img{
   width: 250px;
   height: 200px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    padding: 10px;
    margin: 8px;
       
}
.title-coffee{
    text-align: center;
        font-size: 15px;
        margin: 20px 60px 10px 60px;
        font-weight: bold;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
        color: rgb(0, 0, 0);
        padding: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
        background-image: linear-gradient(to bottom right, lightpink, lightblue);
}
.coffee-container{
        display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
}
.coffee-container img{
        width: 250px;
            height: 200px;
            border: 1px solid black;
            border-radius: 8px;
            box-shadow: 4px 7px 7px 0px #00000042;
            cursor: pointer;
            padding: 10px;
            margin: 8px;
}
.i-name{
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.o-btn{
    width: 255px;
    height: 50px;
    background-color: lightcyan;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-items: center;


}
.o-btn:hover{
    background-color: lightsteelblue;
    color: rgb(0, 0, 0);
    transition:.5s;
    transform: scale(1.05);
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
}

/*index3 styles............*/


.final{
    background-color: lightseagreen;
   
}
#hh1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    cursor: pointer;
    flex-wrap: wrap;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
#hh2{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    flex-wrap: wrap;
    font-weight: bold;
    font-style: italic;
    font-family: "Alex Brush", cursive;
   text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
